.card {
    background-color: #2F335E;
    padding: 5em 10em;
    border-radius: 15px;
}

.num_btn {
    margin: 0em 0.4em;
    font-size: 1em; 
    width: 1.9em;
    height: 1.9em;
    background: #272b4f;
    text-align: center;
    border: none;
    border-radius: 1em;
    color: white;
}

.num_btn:hover {
    background: #3e436e;
}



