button:hover {
    cursor: pointer;
}

.quiz {
    color: white;
    padding: 5m 40em;
    text-align: center;
}

header{
    display: flex;

    gap: 40em;
    margin-left: 20em;
    padding-top: 3em;
}

.main {
    display: flex;
    margin: 0em 15em;
}

.next_prev_btn {
    margin-top: 10em;
    height: 4em;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background: #7d82b1;
}
